{% extends "base.html" %}

{% block content %}
<br>
<div class="row">
    <button id="buttonNewNote" class="btn btn-outline-success" onclick="createNewNote()">New Note</button>
</div>

<div class="row">
    <div id="notesList" class="list-group col-4"></div>
    <div class="col">
        <div id="titleLabel">Title</div>
        <input id="noteTitle" class="label form-control mt-1 col-8">
        <div id="titleLabel" class="label">Text</div>
        <textarea id="textEditor" class="form-control col-8" rows="15"></textarea>
        <div class="row mt-2 ml-auto">
            <button id="buttonSave" class="btn btn-outline-success" onclick="saveNote()">Save</button>
            <button id="buttonCancel" class="btn btn-outline-secondary ml-2" onclick="cancelSaveNote()">Cancel</button>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        var elNotesList = document.getElementById("notesList");
        var notesList = getNotes();
        if (Array.isArray(notesList) && notesList.length) {
            for (const note of notesList) {
                elNotesList.innerHTML += `<a id="note_${note["id"]}" href="#" onclick="getNoteByID(${note["id"]});return false;"
                                      class="list-group-item list-group-item-action flex-column align-items-start">
                                      <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1">${note["name"]}</h5>
                                      <small>3 days ago</small>
                                      </div>
                                      <p class="mb-1">${note["text"]} </p>
                                      <small>small description</small>
                                      </a>`
            }
        } else {
            elNotesList.innerHTML = 'You do not have any notes yet'
        }
    }

    function httpGet(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, false);
        xhr.send();
        return JSON.parse(xhr.response);
    }

    function getNotes() {
        var labelText = document.getElementById('label1');
        var notesJSON = httpGet('/kadath/notes');
        return notesJSON;
    }


    function getNoteByID(noteID) {
        var note = httpGet('/kadath/note/' + noteID);
        var elNoteText = document.getElementById('noteView');
        elNoteText.innerHTML = note['text']
    }

    function createNewNote() {

    }

    function saveNote() {

    }

    function cancelSaveNote() {

    }

</script>
{% endblock %}