{% extends "base.html" %}

{% block content %}

<style>
    .crop-text-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        width: 280px;
        word-wrap: break-word;
    }

    .crop-text-3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        width: 280px;
        word-wrap: break-word;
    }
</style>

<div class="row mt-3">
    <button id="buttonNewNote" class="btn btn-outline-success mb-2" onclick="createNewNote()">New Note</button>
</div>

<div class="row">
    <div id="notesList" class="list-group col-4"></div>
    <div class="col">
        <div class="row ml-auto">
            <div id="IDLabel">ID</div>
            <div id="noteID" class="label ml-2"></div>
        </div>
        <div id="titleLabel">Title</div>
        <input id="noteTitle" class="label form-control mt-1 col-8">
        <div id="titleLabel" class="label">Text</div>
        <textarea id="noteText" class="form-control col-8" rows="15"></textarea>
        <div class="row mt-2">
            <div class="col-5">
                <button id="buttonDelete" class="btn btn-outline-danger mr-auto" onclick="deleteNote()">Delete</button>
            </div>
            <div class="col-3">
                <div class="d-flex row btn-group">
                    <button id="buttonCancel" class="btn btn-outline-dark" onclick="cancelSaveNote()">Cancel</button>
                    <button id="buttonSave" class="btn btn-outline-success mr-1" onclick="saveNote()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = pageLoad();

    function pageLoad() {
        resetNoteForm();
        showNoteList();
        selectFirstNote();
    }

    function showNoteList() {
        var elNotesList = document.getElementById("notesList");
        elNotesList.innerHTML = ""
        var notesList = getNotes();
        if (Array.isArray(notesList) && notesList.length) {
            for (const note of notesList) {
                elNotesList.innerHTML += `<a id="note_${note["id"]}" href="#" onclick="getNoteByID(${note["id"]});return false;"
                                      class="list-group-item list-group-item-action flex-column align-items-start">
                                      <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1">${note["title"]}</h5>
                                      <small>3 days ago</small>
                                      </div>
                                      <p class="mb-1 crop-text-3">${note["text"]} </p>
                                      <small>small description</small>
                                      </a>`
            }
        } else {
            elNotesList.innerHTML = 'You do not have any notes yet'
        }
    }

    function httpGet(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, false);
        xhr.send();
        return JSON.parse(xhr.response);
    }

    function httpPost(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, false);
        xhr.send();
        return JSON.parse(xhr.response);
    }

    function httpPostJSON(url, dataToSend) {
        var data = JSON.stringify(dataToSend);
        var xhr = new XMLHttpRequest();

        xhr.open('POST', url, false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(data);
        return JSON.parse(xhr.response);
    }

    function httpDelete(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', url, false);
        xhr.send();
        return JSON.parse(xhr.response);
    }

    function resetNoteForm() {
        var elNoteTitle = document.getElementById('noteTitle');
        var elNoteText = document.getElementById('noteText');
        var elNoteID = document.getElementById('noteID');
        elNoteTitle.value = '';
        elNoteText.value = '';
        elNoteID.innerHTML = '';
    }

    function getNotes() {
        var notesJSON = httpGet('/kadath/notes');
        return notesJSON;
    }


    function getNoteByID(noteID) {
        var note = httpGet('/kadath/note/' + noteID);
        var elNoteTitle = document.getElementById('noteTitle');
        var elNoteText = document.getElementById('noteText');
        var elNoteID = document.getElementById('noteID');
        elNoteTitle.value = note['title'];
        elNoteText.value = note['text'];
        elNoteID.innerHTML = note['id'];
    }

    function selectFirstNote() {
        var notesJSON = httpGet('/kadath/notes');
        getNoteByID(notesJSON[0]['id']);
    }

    function createNewNote() {
        resetNoteForm();
    }

    function saveNote() {
        var noteTitle = document.getElementById('noteTitle').value;
        var noteText = document.getElementById('noteText').value;
        var elNoteID = document.getElementById('noteID');
        var data = {}

        if (elNoteID.innerHTML != '') {
            data['id'] = elNoteID.innerHTML;
        }
        data['title'] = noteTitle;
        data['text'] = noteText;

        var response = httpPostJSON('/kadath/note/save', data)
        elNoteID.innerHTML = response['id'];
        showNoteList();
    }

    function cancelSaveNote() {
        var elNoteID = document.getElementById('noteID');

        if (elNoteID.innerHTML == '') {
            resetNoteForm();
            selectFirstNote();
        }
        else {
            getNoteByID(elNoteID.innerHTML);
        }
    }

    function deleteNote() {
        var elNoteID = document.getElementById('noteID');
        if (elNoteID.innerHTML == '') {
            alert('You have not selected any note to delete!')
        }
        else {
            var noteID = elNoteID.innerHTML;
            var response = httpDelete('/kadath/note/delete/' + noteID);

            resetNoteForm();
            showNoteList();
            selectFirstNote();
        }
    }

</script>
{% endblock %}