{% extends "base.html" %}

{% block content %}

<style>
    .crop-text-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        width: 280px;
        word-wrap: break-word;
    }

    .crop-text-3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        width: 280px;
        word-wrap: break-word;
    }
</style>

<div class="row mt-3">
    <button id="buttonNewNote" class="btn btn-outline-success mb-2" onclick="createNewNote()">New Note</button>
</div>

<div class="row">
    <div id="notesList" class="list-group col-4"></div>
    <div class="col">
        <div class="row ml-auto">
            <div id="IDLabel">ID</div>
            <div id="noteID" class="label ml-2"></div>
        </div>
        <div id="titleLabel">Title</div>
        <input id="noteTitle" class="label form-control mt-1 col-8">
        <div id="titleLabel" class="label">Text</div>
        <textarea id="noteText" class="form-control col-8" rows="15"></textarea>
        <div class="row mt-2">
            <div class="col-5">
                <button id="buttonDelete" class="btn btn-outline-danger mr-auto" onclick="deleteNote()">Delete</button>
            </div>
            <div class="col-3">
                <div class="d-flex row btn-group">
                    <button id="buttonCancel" class="btn btn-outline-dark" onclick="cancelSaveNote()">Cancel</button>
                    <button id="buttonSave" class="btn btn-outline-success mr-1" onclick="saveNote()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = pageLoad();

    function pageLoad() {
        resetNoteForm();
        showNoteList();
        selectFirstNote();
    }

    function showNoteList() {
        var elNotesList = document.getElementById("notesList");
        elNotesList.innerHTML = ""
        var notesList = getNotes();
        if (Array.isArray(notesList) && notesList.length) {
            for (const note of notesList) {
                var diffString = datetimeDiffPretty(note['modified'])
                elNotesList.innerHTML += `<a id="note_${note['id']}" href="#" onclick="getNoteByID(${note['id']});return false;"
                                      class="list-group-item list-group-item-action flex-column align-items-start">
                                      <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1">${note['title']}</h5>
                                      <small>${diffString}</small>
                                      </div>
                                      <p class="mb-1 crop-text-3">${note['text']} </p>
                                      <small>${note['created']}</small>
                                      </a>`
            }
        } else {
            elNotesList.innerHTML = 'You do not have any notes yet';
        }
    }

    function httpGet(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, false);
        xhr.send();
        return JSON.parse(xhr.response);
    }

    function httpPost(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, false);
        xhr.send();
        return JSON.parse(xhr.response);
    }

    function httpPostJSON(url, dataToSend) {
        var data = JSON.stringify(dataToSend);
        var xhr = new XMLHttpRequest();

        xhr.open('POST', url, false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(data);
        return JSON.parse(xhr.response);
    }

    function httpDelete(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', url, false);
        xhr.send();
        return JSON.parse(xhr.response);
    }

    function stringFromDatetime(datetime = null) {
        if (datetime == null) {
            var moment = new Date();
        }
        else {
            var moment = datetime;
        }
        
        var year = moment.getFullYear();
        var month = moment.getMonth() + 1;
        var day = moment.getDate();
        var hour = moment.getHours();
        var minute = moment.getMinutes();
        var second = moment.getSeconds();
        if (month.toString().length == 1) {
            month = '0' + month;
        }
        if (day.toString().length == 1) {
            day = '0' + day;
        }
        if (hour.toString().length == 1) {
            hour = '0' + hour;
        }
        if (minute.toString().length == 1) {
            minute = '0' + minute;
        }
        if (second.toString().length == 1) {
            second = '0' + second;
        }
        var dateTime = year + '.' + month + '.' + day + ' ' + hour + ':' + minute + ':' + second;
        return dateTime;
    }

    function datetimeFromString(datetimeStr) {
        if (datetimeStr == 'None') {
            return;
        }
        date = datetimeStr.split(' ')[0];
        time = datetimeStr.split(' ')[1];
        datetime = new Date(date.split('-')[0], date.split('-')[1] - 1, date.split('-')[2],
                            time.split(':')[0], time.split(':')[1], time.split(':')[2]);
        return datetime;
    }

    function datetimeDiffPretty(modified) {
        if (typeof modified === 'string') {
            modified = datetimeFromString(modified)
        }
        var now = new Date();
        diffSeconds = Math.floor((now - modified) / 1000);
        diffMinutes = Math.floor(diffSeconds / 60);
        diffHours = Math.floor(diffMinutes / 60);
        diffDays = Math.floor(diffHours / 24);
        diffWeeks = Math.floor(diffDays / 7);
        diffMonths = Math.floor(diffDays / 30);
        diffYears = Math.floor(diffDays / 365);

        if (diffMinutes == 0) {
            prettyString = 'less than a minute ago';
        } else if (diffMinutes <= 5) {
            prettyString = 'a few minutes ago';
        } else if (diffMinutes <= 59) {
            prettyString = diffMinutes.toString() + ' minutes ago';
        } else if (diffHours <= 1) {
            prettyString = 'one hour ago';
        } else if (diffHours <= 23) {
            prettyString = diffHours.toString() + ' hours ago';
        } else if (diffDays <= 1) {
            prettyString = 'one day ago';
        } else if (diffDays <= 6) {
            prettyString = diffDays.toString() + ' days ago';
        } else if (diffWeeks <= 1) {
            prettyString = 'one week ago';
        } else if (diffWeeks <= 5) {
            prettyString = diffWeeks.toString() + ' weeks ago';
        } else if (diffMonths <= 1) {
            prettyString = 'one month ago';
        } else if (diffMonths <= 11) {
            prettyString = diffMonths.toString() + ' months ago';
        } else if (diffYears <= 1) {
            prettyString = 'one year ago';
        } else if (diffYears <= 10) {
            prettyString = diffYears.toString() + ' years ago';
        } else {
            prettyString = 'a long long time ago';
        }
        return prettyString;
    }

    function resetNoteForm() {
        var elNoteTitle = document.getElementById('noteTitle');
        var elNoteText = document.getElementById('noteText');
        var elNoteID = document.getElementById('noteID');
        elNoteTitle.value = '';
        elNoteText.value = '';
        elNoteID.innerHTML = '';
    }

    function getNotes() {
        var notesJSON = httpGet('/kadath/notes');
        return notesJSON;
    }


    function getNoteByID(noteID) {
        var note = httpGet('/kadath/note/' + noteID);
        var elNoteTitle = document.getElementById('noteTitle');
        var elNoteText = document.getElementById('noteText');
        var elNoteID = document.getElementById('noteID');
        elNoteTitle.value = note['title'];
        elNoteText.value = note['text'];
        elNoteID.innerHTML = note['id'];
    }

    function selectFirstNote() {
        var notesJSON = httpGet('/kadath/notes');
        getNoteByID(notesJSON[0]['id']);
    }

    function createNewNote() {
        resetNoteForm();
    }

    function saveNote() {
        var noteTitle = document.getElementById('noteTitle').value;
        var noteText = document.getElementById('noteText').value;
        var elNoteID = document.getElementById('noteID');
        var data = {};

        if (elNoteID.innerHTML != '') {
            data['id'] = elNoteID.innerHTML;
        }
        else {
            data['created'] = stringFromDatetime();
        }

        data['title'] = noteTitle;
        data['text'] = noteText;
        data['modified'] = stringFromDatetime();

        var response = httpPostJSON('/kadath/note/save', data);
        elNoteID.innerHTML = response['id'];
        showNoteList();
    }

    function cancelSaveNote() {
        var elNoteID = document.getElementById('noteID');

        if (elNoteID.innerHTML == '') {
            resetNoteForm();
            selectFirstNote();
        }
        else {
            getNoteByID(elNoteID.innerHTML);
        }
    }

    function deleteNote() {
        var elNoteID = document.getElementById('noteID');
        if (elNoteID.innerHTML == '') {
            alert('You have not selected any note to delete!')
        }
        else {
            var noteID = elNoteID.innerHTML;
            var response = httpDelete('/kadath/note/delete/' + noteID);

            resetNoteForm();
            showNoteList();
            selectFirstNote();
        }
    }

</script>
{% endblock %}